{% extends 'base.html' %}
{% load static %}
{% block contents %}

<center><h1>Book Bus Tickets with Paytm</h1>

<p>

Now, book your bus tickets on Paytm and make your bus booking experience smoother and more affordable. Paytm allows you to book tickets from anywhere in India at the lowest price.

To book your bus tickets on Paytm, just fill in the requisite information in the required fields and customise your trip. Paytm gives you the privilege to plan your trip on your own. We provide you an array of options for your travel. You can choose sleeper, semi-sleeper, AC/non-AC, or any other type of bus you prefer, for your trip. You can search for availability of the bus by entering the time and date of the ticket reservation. We also facilitate you to choose the seat you want from all available seats in the bus.

Thanks to our autofill function, you don’t have to enter your details while doing your bookings again. Advanced traveller details prediction will prompt profile information based on your past ticket reservation history.
Easy Booking and Payment Options

Paytm ensures smooth payment experience for the users by making wallet payment secure and quicker. On Paytm, you can book your bus tickets in less than a minute without any hassle. Make sure that you have enough balance in your Paytm wallet, as it helps you in faster checkout. Having a registered Paytm wallet can also offer you loads of benefits.

You also get the ease of selecting from other payment options like Debit/Credit Card or Net Banking. In case of failed booking, your money is refunded back to your wallet in less than 15 minutes. For any assistance, you can visit our dedicated 24/7 helpline service on http://m.p-y.tm/hlpsprt for helpline numbers and any kind of customer support. So, skip the long queues at the bus booking counters now and book tickets on Paytm, from the comfort of your home.
Why Make Bus Reservations With Paytm

Paytm has an edge over the other online bus ticket booking platforms in India as we keep implementing new features keeping in mind the behaviour of our users and the common bus passenger. From Non-AC buses to Volvo AC buses and other luxury buses, you can book all types of bus tickets on Paytm.

    Free Cancellation
    Instant Refunds
    Easy & Quick Bus Booking
    Exciting Cashback & Bus Offers
    Best Price Assured
    24/7 Customer Assistance

</p>
{% endblock %}